In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('./iris.csv', sep=';')

In [3]:
# What is gonna be needed for decision tree algorithm
# Evaluate entropy for every feature and values for it
# After you pick best score, you branch out into 2 branches
# You stop at some n level

In [58]:
def evaluateFeature(df, feature):
    focusDf = df.loc[:,[feature, "species"]] # For now label name is hard coded, but we could have label feature parameter
    minVal = focusDf[feature].min()
    maxVal = focusDf[feature].max()
    bestGini = 1
    bestSplitVal = 0
    step = (maxVal - minVal)/15 # Evaluate 15 different values for split condition
    for i in range(1, 15): # We dont care about min and max split, in my opinion
        currentSplit = minVal + step * i
        leftSplit = focusDf.loc[(focusDf[feature] <= currentSplit)]
        rightSplit = focusDf.loc[(focusDf[feature] > currentSplit)]
        giniIndexLeft = 1
        giniIndexRight = 1
        #for left split
        for value in leftSplit["species"].unique():
            #print(leftSplit.loc[(leftSplit["species"] == value)]["species"])
            classCount = leftSplit.loc[(leftSplit["species"] == value)]["species"].count()
            totalCount = len(leftSplit)
            giniIndexLeft -= pow(classCount/totalCount,2) # gini calculation for left
        #for right split
        for value in rightSplit["species"].unique():
            classCount = rightSplit.loc[(rightSplit["species"] == value)]["species"].count()
            totalCount = len(rightSplit)
            giniIndexRight -= pow(classCount/totalCount,2) # gini calculation for right
        giniIndex = (giniIndexLeft + giniIndexRight)/2 # Get average of gini index
        print(giniIndex)
        if giniIndex < bestGini:
            bestSplitVal = currentSplit
            bestGini = giniIndex
    print(f"Gini: {bestGini} feature: {feature} split: {bestSplitVal}")
    return (feature, bestSplitVal)
def branch(df, k, n):
    if k == n:
        # Here comes code to decide on what class is gonna be predicted
        return 0 # PLACEHOLDER
    bestFeature = evaluateFeature(df, df.columns[0])
    for col in df.columns[1:-1]: # Exclude first feature and last feature which is label
        result = evaluateFeature(df, col)
        if result[1] < bestFeature[1]:
            bestFeature = result
    new_df1 = df.loc[(df[bestFeature[0]] <= bestFeature[1])]
    new_df2 = df.loc[(df[bestFeature[0]] > bestFeature[1])]
    branch(new_df1, k + 1, n)
    branch(new_df2, k + 1, n)
    # TODO: Same as for decision tree
def DecisionTree(df, n_levels = 3):
    # Get first feature and score
    k = 0
    bestFeature = evaluateFeature(df, df.columns[0])
    for col in df.columns[1:-1]: # Exclude first feature and last feature which is label
        result = evaluateFeature(df, col)
        if result[1] < bestFeature[1]:
            bestFeature = result
    #Split based on best feature into 2 new branches
    new_df1 = df.loc[(df[bestFeature[0]] <= bestFeature[1])]
    new_df2 = df.loc[(df[bestFeature[0]] > bestFeature[1])]
    branch(new_df1, k + 1, n_levels)
    branch(new_df2, k + 1, n_levels)
    # TODO: Now its just important to think of a way on how to save each condition used for branching

In [19]:
col = df.columns[0]
test = df.loc[:,[col, "species"]]

In [18]:
df.columns[1:]

Index(['sepal_width', 'petal_length', 'petal_width', 'species'], dtype='object')

In [29]:
test

     sepal_length  species
0             5.1        0
1             4.9        0
2             4.7        0
3             4.6        0
4             5.0        0
..            ...      ...
145           6.7        2
146           6.3        2
147           6.5        2
148           6.2        2
149           5.9        2

[150 rows x 2 columns]

In [41]:
test.loc[(test["species"] <= 0)]["species"].count()

50

In [59]:
evaluateFeature(df, 'sepal_length')

0.33293697978596903
0.3312457947311216
0.42938311323972994
0.41181153943058707
0.42783185731877377
0.4752067539949577
0.49582649427944714
0.49687889343965674
0.5111716368967246
0.45596153846153853
0.40197719959356365
0.3312457947311216
0.3327546296296296
0.33293697978596903
Gini: 0.3312457947311216 feature: sepal_length split: 4.78

('sepal_length', 4.78)

In [60]:
evaluateFeature(df, 'sepal_width')

0.3333183189946398
0.5360450555445349
0.48925397407265936
0.5641180083144368
0.5696736471817855
0.5570041722595187
0.544256770678327
0.5022045855379189
0.4345828609221467
0.44620027434842247
0.470751942869145
0.3330831300431601
0.33319450229071224
0.3333183189946398
Gini: 0.3330831300431601 feature: sepal_width split: 3.9200000000000004

('sepal_width', 3.9200000000000004)

In [61]:
evaluateFeature(df, 'petal_length')

0.3312457947311216
0.2595155709342561
0.25
0.25
0.25
0.3031606536556105
0.35630910527500825
0.4357823871309212
0.4220137696158307
0.3178452981510273
0.31249999999999994
0.3285809757184228
0.3327546296296296
0.3330831300431601
Gini: 0.25 feature: petal_length split: 2.18

('petal_length', 2.18)

In [62]:
evaluateFeature(df, 'petal_width')

0.30469678953626633
0.2595155709342561
0.25487697284579947
0.25
0.25
0.35630910527500825
0.4197293257713806
0.44230312659799836
0.3508608038070922
0.29354834537644997
0.30469678953626633
0.3224006448012896
0.32788738764203745
0.3327546296296296
Gini: 0.25 feature: petal_width split: 0.74

('petal_width', 0.74)

In [63]:
df

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]